@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  
}
.banner-container{
  background: url("https://img.freepik.com/premium-photo/technical-support-customer-service-business-technology-internet-hand-holding-digital-graphic-pen-drawing-digital-hologram-circular-diagram-sign-city-dark-blurred-background_486333-4314.jpg");
  background-size: cover;
  background-position: center center;
}
.login-container{
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  width: 100%;
  background-position: center;    
}


.table-responsive {
  width: 100%;
  margin: 0 auto;
}

.table-responsive table td {
  font-size: 12px;
  color: #5a5a55;
}
.table-responsive table tr{
  border: .5px solid rgb(212, 206, 206) !important;
}
.table-responsive table tr:hover{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}



h1,h2,h3,h4,h5,h6,span,p,small,a{
  font-family: Arial, Helvetica, sans-serif;
}